.title {
    font-size: 56px;
    color: var(--white);
    font-weight: 700;
    gap: 0 20px;
    display: flex;
    align-items: center;
}

.title::after,
.title--reverse::before {
    content: url(../../../../public/image/star.svg);
    flex-shrink: 0;
    width: 56px;
    height: 56px;
}

.title--reverse::after {
    display: none;
}



@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }


    .title::after,
    .title--reverse::before {
        content: url(../../../../public/image/star.svg);
        flex-shrink: 0;
        width: 30px;
        height: 30px;
    }
}